.user__container {
  display: flex;
  width: 100%;
  max-width: 443px;
  min-width: 310px;
  flex-direction: column;
  height: fit-content;
  transition: all 3.5s linear;
  margin: 0 20px 20px;
}

.user__container--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__greeting,
.user__welcome {
  max-width: 440px;
  width: 90%;
  min-width: 300px;
  font-size: 16px;
  text-align: center;
}

.user__name {
  font-size: 22px;
  color: #224d9f;
  margin: 0 4px;
}

.user__signout {
  width: 100%;
  display: flex;
}
.user__signout .signout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  cursor: pointer;
  color: #999;
}

.user__signout .signout:hover {
  color: #224d9f;
}

@media (max-width: 450px) {
  .user__container--content {
    transform: translateX(-20px);
  }
}
